<form action="/profile/?_method=PUT" method="POST">
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email">
  
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name">

    <input type="submit" class="btn btn-secondary" value="Edit">
</form>