<h1 class="text-center">Cards Owned</h1>
<hr>
<div class="container"> 
    <% cards.forEach(function(card) { %>
        <div class="well">
            <a href="/own/<%= card.apiId %>"><img src="<%= card.imageUrl %>" alt=""></a>
            <a href="/own/<%= card.apiId %> "><h3><%= card.name %></h3></a>
        </div>
    <% }); %>
</div>