<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card Captor</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/alerts') %> 
    <header>
      <nav>
        <ul>
          <li id="app"><a href="/">Card Captor</a></li>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %> 
            <li><a href="/own">Own</a></li>
            <li><a href="/want">Want</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          <% } %> 
        </ul>
      </nav>
    </header>
    <%- body %>
  </body>
</html>