nav ul li {
  text-decoration: none;
  display: inline-flex;
  margin-right: .3em;
}

form {
  margin: 0 auto;
}

h1 {
  color: navy;
  text-align: center;
}

.container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.well {
  margin: 15px;
  text-align: center;
}

#app {
  font-size: 30px;
  font-weight: bold;
}

.card_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card name"
    "card ."
    "card ."
    "card ."
    "card ."
    "card .";
  margin: 50px auto;
}

.card_image {
  grid-area: card;
  width: 400px;
  height: 550px;
}

.card_name {
  grid-area: name;
}

.buttons {
  display: inline-flex;
}