nav ul li {
  text-decoration: none;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 20px;
}

.container {
  display: inline-flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.well {
  margin: 15px;
  text-align: center;
}

#app {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

.card_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card name"
    "card ."
    "card series"
    "card set"
    "card number"
    "card artist";
  margin: 50px 50px;
}

.card_grid {
  width: 247px;
  height: 339.625px;
}

.card_image {
  grid-area: card;
  width: 400px;
  height: 550px;
}

.card_name {
  grid-area: name;
}

.card_number {
  grid-area: number;
}

.card_series {
  grid-area: series;
}

.card_set {
  grid-area: set;
}

.card_artist {
  grid-area: artist;
}

.buttons {
  display: inline-flex;
}

.not_logged {
  text-align: center;
}
