<h2>Homepage</h2>

<% if (!currentUser) { %>
    <h3>Please <a href="/auth/signup">register</a> or <a href="/auth/login">log in</a> to begin building your collection.</h3>
<% } %> 
<form method="GET" action="search/results">
  <input type="text" name="name" value="">
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<hr>
<div class="container"> 
    <% cards.forEach(function(card) { %>
        <div class="well">
            <a href="/search/<%= card.id %>"><img src="<%= card.imageUrl %>" alt=""></a>
            <a href="/search/<%= card.id %> "><h3><%= card.name %></h3></a>
        </div>
    <% }); %>
</div>