<h1 class="text-center">Cards Wanted</h1>
<hr>
<div class="container"> 
    <% cards.forEach(function(card) { %>
        <div class="well">
            <a href="/want/<%= card.apiId %>"><img class="card_grid" src="<%= card.imageUrl %>" alt=""></a>
            <a href="/want/<%= card.apiId %>"><h5><%= card.name %></h5></a>
        </div>
    <% }); %>
</div>