<h1 class="text-center">Cards Wanted</h1>
<hr>
<div class="container"> 
    <% cards.forEach(function(card) { %>
        <div class="well">
            <a href="/want/<%= card.id %>"><img src="<%= card.imageUrl %>" alt=""></a>
            <a href="/want/<%= card.id %> "><h3><%= card.name %></h3></a>
        </div>
    <% }); %>
</div>